---
layout: default
---
		<section class="hero" style="background-image: url(https://source.unsplash.com/WNAO036c6FM/2000x1322?a=.png)">
	<div class="inner-hero text-container">
    <div class="hero-text-container">
    <h1>This is Doctor Dr. {{page.firstName}} {{page.lastName}}</h1>
      {{ content }}
    </div>
    
    <div class="subtext editable" >
    Linked to following centers:
    {% for center in site.locations %}
      {% for emp in center.employees %}
       {% assign myemp = '/'|append:emp %}
           {% if myemp == page.id %}
             <li><a href="{{center.permalink}}">{{center.centerName | replace_first: 'LP', '' }}</a></li>
           {% endif %}
      {% endfor %}  
     {% endfor %}
    </div>		
	</div>
</section>

