---
layout: default
---
		<section class="hero" style="background-image: url(https://www.lasikplus.com/assets/images/home/background-intro-youll_love_your_doctors.jpg)">
	<div class="inner-hero text-container">
    <div class="hero-text-container">
    <h1><img src="{{page.image_path}}"/><br/>Dr. {{page.firstName}} {{page.lastName}} {{ hobbies }}</h1>
      {{ content }}
    </div>
    
    <div class="subtext editable" >
     <p class="post-details" > <span class="blog-filter"> <a>My Locations:</a></span></p>
    {% for center in site.locations %}
      {% for emp in center.employees %}
       {% assign myemp = '/'|append:emp %}
           {% if myemp == page.id %}
             <li><a href="{{center.permalink}}">{{center.centerName | replace_first: 'LP', '' }}</a></li>
           {% endif %}
      {% endfor %}  
     {% endfor %}
    </div>		
	</div>
</section>

