---
layout: default
---
<section class="hero" style="background-image: url(https://www.lasikplus.com/assets/images/home/background-intro-youll_love_your_doctors.jpg)">
	<div class="inner-hero text-container">
    <div class="hero-text-container">
    <h1>This is Center: {{page.centerName | replace: 'LP', 'Lasik<i>Plus</i>' }}
      {{ content }}
    </div>
    
    <div class="subtext editable" >
<br/>
Our Doctors:
<ul>
{% for emp in page.employees %}
 {% assign myemp = '/'|append:emp %}
 {% for doc in site.doctors %}
      {% if myemp == doc.id %}
        <li><a href="{{doc.permalink}}">{{doc.firstName}}</a></li>
      {% endif %}
 {% endfor %}  
{% endfor %}

</ul>
    </div>		
	</div>
</section>